<br>
<br>
<br>

<div class="card" style="width: 30rem; height: 30rem; ">
    <img class="card-img-top" src="https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/how-to-pick-computers-for-classrooms-hero1559012942226.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">student details</h5>

      <input type="text" (input)="onInputChange($event)"placeholder="Enter Student Name ">
      <div>{{inputValue}}</div>
      <br><br>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a href="#" class="btn btn-primary"  routerLink="student">Go student mark</a>
    </div>
  </div>
